.charactersPageContent {
  gap: 1rem;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 768px) {
    grid-template-columns: 60% 40%;
  }

  @media (min-width: 992px) {
    grid-template-columns: 70% 30%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 70% 30%;
  }
}
