.characterList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 0.2em;
  row-gap: 2em;
}

@media (min-width: 576px) {
  .characterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .characterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .characterList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .characterList {
    grid-template-columns: repeat(4, 1fr);
  }
}
